---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
    <section class="relative">
        <h3 class="text-gray-300 max-w-2xl text-lg md:text-xl leading-relaxed">
            I'm currently working on some <a
                href="https://pterodactyl.io"
                class="underline">Pterodactyl</a
            > eggs like <a href="https://lumenvm.cloud" class="underline"
                >LumenVM</a
            >, LumenMC and LumenWEB. By creating this website, I've learnt <a
                href="https://astro.build"
                class="underline">Astro</a
            >, I also like <a href="https://nextjs.org" class="underline"
                >NextJS</a
            >. I also LOVE everything related to servers: scripting, networking,
            deploying...
        </h3>
    </section>
</Layout>
