---
import "../styles/global.css";
import BackgroundImage from "../assets/background.jpg";
import { Image } from "astro:assets";
---

<div class="fixed inset-0 z-0" aria-hidden="true">
    <Image
        src={BackgroundImage}
        alt="Background"
        class="w-full h-full object-cover"
        loading="eager"
        decoding="async"
    />
    <div class="absolute inset-0 bg-black/60"></div>
</div>
